{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if alert %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endif %}
    {% if warn %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li><a href="/{{ entry }}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}